
.history/
*.code-workspace
update_summary.bat
create_summary.bat
tasks.json
node_modules/
node_modules/gitbook-plugin-tags/
node_modules/github-slugid/test/test.js
node_modules/gitbook-plugin-tags/LICENSE
node_modules/gitbook-plugin-tags/README.md
node_modules/gitbook-plugin-tags/index.js
node_modules/gitbook-plugin-tags/package.json
node_modules/gitbook-plugin-tags/assets/plugin.css
node_modules/github-slugid/.npmignore
node_modules/github-slugid/.travis.yml
node_modules/github-slugid/LICENSE
node_modules/github-slugid/README.md
node_modules/github-slugid/index.js
node_modules/github-slugid/package.json
_book/
create_summary.py
